<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IBM Bluemix Object Storage demo</title>
  <meta name="description" content="Cloud Foundry demo">
  <link rel="stylesheet" href="/css/home.min.css" />
  <link rel="stylesheet" href="/css/common.min.css" />
</head>

<body id="body" class="bluemixHome">

	<header class="bluemix-global-header no-touch" style="z-index: 99">
		<div class="bluemix-masthead">
			<a href="http://bluemix.net" class="bluemix-home-link bluemix-logo icon-logo-grey"></a>
			<div class="bluemix-nav-menu-button icon-bluemix-nav-menu" tabindex="1" id="header-menu"></div>
			<a href="http://bluemix.net" class="bluemix-branding">IBM <span class="bluemix-product-title">Bluemix Object Storage</span> demo</a></div>
			<nav class="bluemix-nav-unauthorized">
				<ul class="bluemix-nav-list">
					<li class="hide-if-expired"><span><a class="bluemix-nav-list-link" href="https://hub.jazz.net/git/krook/bluemix-object-storage">Fork</a></span></li>
				</ul>
			</nav>
	</header>

	<section class="main marketing-announcement-none">
