<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IBM Bluemix Object Storage demo</title>
  <meta name="description" content="Cloud Foundry demo">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>The Object Store Uploader / Downloader</h1>

    <div id="upload-panel">
      <form id="upload-form" enctype="multipart/form-data" action="/upload" method="post">
        Upload a file:
        <input type="file" name="file-to-upload" />
        <input type="submit" value="Upload File" name="submit">
      </form>
    </div>

    <div id="download-panel">
      Files in object store container:

      <% if(containerFiles.length > 0) { %>
        <ul>
          <% for(var i=0; i < containerFiles.length; i++) { %>
            <li><a href="/download/<%= containerFiles[i] %>"><%= containerFiles[i] %></a> [<a href="/delete/<%= containerFiles[i] %>">Delete</a>]</li>
          <% } %>
        </ul>
      <% } else { %>
        You have no files in your container yet.
      <% } %>

    </div>

  </body>
</html>