<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IBM Bluemix Object Storage demo</title>
  <meta name="description" content="Cloud Foundry demo">
  <link rel="stylesheet" href="/css/home.min.css" />
  <link rel="stylesheet" href="/css/common.min.css" />
</head>

<body id="body" class="bluemixHome">

	<header class="bluemix-global-header no-touch" style="z-index: 99">
		<div class="bluemix-masthead">
			<a href="https://console.ng.bluemix.net/home/" class="bluemix-home-link bluemix-logo icon-logo-grey"></a>
			<div class="bluemix-nav-menu-button icon-bluemix-nav-menu" tabindex="1" id="header-menu"></div>
			<a href="https://console.ng.bluemix.net/home/" class="bluemix-branding">IBM <span class="bluemix-product-title">Bluemix</span></a></div>
			<nav class="bluemix-nav-unauthorized">
				<ul class="bluemix-nav-list">
					<li class="hide-if-expired"><span><a class="bluemix-nav-list-link" href="https://console.ng.bluemix.net/?ace_base=true/#/resources">Fork</a></span></li>
				</ul>
			</nav>
	</header>

	<section class="main marketing-announcement-none">

    <h3 class="sub-title">
    Please provision the Object Storage service in Bluemix and ensure that it is named <strong>object-store</strong>.
    </h3>

	</section>

	<section class="sub-nav-container">
		<nav class="sub-nav" role="navigation" id="content-nav">
			<ul>
				<li><a class="nav-item" id="nav-item-build" data-destination="#bluemix-build">IBM Bluemix</a></li>
				<li><a class="nav-item" id="nav-item-extend" data-destination="#bluemix-extend">IBM DevOps Services</a></li>
			</ul>
		</nav>
	</section>

</body>
</html>